<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Change password </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/all.css" />
</head>

<body>
    
   <!-- header bar -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" th:href="@{/UserHome}">Deshboard</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	         <span class="navbar-toggler-icon"></span>
	    </button>
   </nav>
    
     <!-- success message  -->
	 <div class="container">
	  <div th:if="${changepassword!=null}" class="alert alert-success alert-dismissible">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	    <span class="alert alert-success text-center" th:text="${changepassword}"></span>
	  </div>
	</div>
	
	<!-- renew plan success message  -->
	 <div class="container">
	  <div th:if="${ChangePasswordErrorMessage!=null}" class="alert alert-danger alert-dismissible">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	    <span class="alert alert-danger text-center" th:text="${ChangePasswordErrorMessage}"></span>
	  </div>
	</div>
    
    
    <div class="size container mt-5">
        <div class="card">
            <h4 class="card-header text-center">Change Password</h4>
            
              <div th:if="${param.error}" class="alert alert-danger"> 	
              	 <b> Invalid email and password </b>
              </div>
              
               <div th:if="${param.logout}" class="alert alert-danger"> 	
              	 <b>You have been logged out.</b>
              </div>
            
            <div class="card-body">
                <form role="form" data-toggle="validator" action="#" th:action="@{/change-password-execution}" th:object="${user}" method="Post">
                    <div class="form-group">
                       <label>Enter Old Password</label>
                         <div class="form-group">
                            <input type="password" name="password"  data-minlength="4"  
                                   class="form-control" id="inputPassword"
                                   data-error="Have atleast 4 characters" placeholder="Enter old Password" required />

                             <!-- Error -->
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                 
                     <div class="form-group">
                       <label>New Password</label>
                         <div class="form-group">
                            <input type="password" name="newPassword"  data-minlength="4"  
                                   class="form-control" id="inputPassword"
                                   data-error="Have atleast 4 characters" placeholder="Enter New Password" required />

                             <!-- Error -->
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    
                    <div class="center mt-3">
                        <button type="submit" class="btn btn-success mr-5">Save</button>
                        <button type="Reset" class="btn btn-primary ">Reset</button>
                    </div>
                </form>
            </div>
        </div>
     </div>
  </body>
</html>
