<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<title>Login otp varification</title>
<link rel="stylesheet" href="/css/all.css" />
<script type="text/javascript" th:src="@{/js/all.js}"></script>
</head>
<body>
	<div class="container">

		<div class="starter-template">
			<h2>Check your mail and Enter the Otp</h2>

			<h3 th:inline="text">Hello :
				[[${#httpServletRequest.remoteUser}]]!</h3>
 				
 			<form id="validateOtp" name="validateOtp" th:action="@{/dashboard}" method="post">
                <fieldset>

                    <div th:if="">
                        <div class="alert alert-danger">
                            Invalid Otp Try Again 
                        </div>
                    </div>
                     
                    <div class="form-group">
                        <input type="text" 
                               name="otpnum" 
                               id="otpnum" 
                               class=" input-lg"
                               required />
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-info" value="Submit"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
		</div>

		 
	</div>

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

	
	<script type="text/javascript">
	$(document).ready(function () {

	    $("#validateOtp").submit(function (event) {

	        //stop submit the form, we will post it manually.
	        event.preventDefault();

	        var data  = 'otpnum='+$("#otpnum").val();
			
	        alert(data);
	        
	        $.ajax({
	            type: "GET",
	            url:  "/validateOtp",
	            data: data,
	            dataType: 'text',
	            cache: false,
	            timeout: 600000,
	            success : function(response) {
                    alert( response );
                },
                error : function(xhr, status, error) {
                    alert(xhr.responseText);
                }
	        });
	    });

	});

	 
	</script>
</body>
</html>